body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background: url('./assets/fenturio.jpg') no-repeat center center fixed;
  background-size: cover;
  overflow: hidden;
}

.App {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.hexagon-container {
  position: relative;
  width: 100%;
  max-width: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.hexagon-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 100%;
  box-shadow: 5px 4px 15px rgba(1,14,31, 0.1); /* Ombre pour donner un effet de profondeur */
}

.symbols-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 20px;
  top: 10px; /* Adjust this value as needed */
  left: 10px; /* Adjust this value to set the left margin */
}

.symbols-horizontal {
  position: fixed;
  top: 2%;
  right: 1%;
  background: rgba(7, 7, 7, 0.5);
  border: 2px solid #ccc;
}

.symbols-order-label {
  color: white;
  font-size: 18px;
  font-weight: bold;

}

.draggable-symbol img {
  width: 100px;
  height: 100px;
  box-shadow: 0 0 0 3px #ccc; /* Simule une bordure de 3px */
  border-radius: 5px; /* Optionnel : Pour arrondir les coins si souhaité */
}


.reset-button {
  position: fixed;
  top: 50px;
  left: 20%;
  background-color: transparent;
  color: white;
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  z-index: 1;
  transition: background-color 0.3s ease;
}

.reset-button:hover {
  background-color: #080c1c;
}

.droppable-area {
  position: absolute;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 2px solid #ccc;
  background: rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}