body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background: url('./assets/fenturio.jpg') no-repeat center center fixed;
  background-size: cover;
  overflow: hidden;
}

.App {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.hexagon-container {
  position: relative;
  width: 100%;
  max-width: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.hexagon-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 100%;
}

.symbols-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 20px;
  top: 10px; /* Adjust this value as needed */
  left: 10px; /* Adjust this value to set the left margin */
}

.draggable-symbol {
  width: 100px;
  height: 100px;
  cursor: move;
}

.reset-button {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #7590ac;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  z-index: 1;
}

.droppable-area {
  position: absolute;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 2px dashed #ccc;
  background: rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
